.login {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: #000;
}

.login__logo {
  width: 100%;
  max-width: 800px;
  object-fit: contain;
}

.login__link {
  padding: 20px;
  background-color: #1db954;
  border-radius: 99px;
  font-weight: 800;
  color: #fff;
  box-sizing: border-box;
  text-transform: uppercase;
}
