.body {
  flex: 0.8;
  background: linear-gradient(#5b5773, #000);
  color: #fff;
  padding: 30px;
  padding-right: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
}

.body__info {
  display: flex;
  align-items: flex-end;
  padding: 10px;
}

.body__info-image {
  height: 8vw;
  min-height: 120px;
  margin-right: 20px;
  box-shadow: 0 4px 60px #00000080;
}

.body__info-text {
  flex: 1;
  margin-bottom: 10px;
}

.body__info-playlist {
  text-transform: uppercase;
}

.body__info-heading {
  font-size: 36px;
  margin-bottom: 10px;
  text-transform: capitalize;
}

.body__info-title {
  font-size: 14px;
}

.body__icons {
  display: flex;
  align-items: center;
}

.body__icon {
  margin-right: 20px;
}

.body__icon--red {
  color: #ff6347 !important;
}

.body__icon--shuffle {
  font-size: 55px !important;
  margin-left: 30px;
  margin-top: 15px;
  margin-bottom: 15px;
  color: #1ed15e !important;
  transform: transform 0.1s ease-in;
}

.body__icon--shuffle:hover {
  transform: scale(1.08);
}

@media screen and (max-width: 1080px) {
  .body__info-image {
    height: 15vw;
  }
}

@media screen and (max-width: 767px) {
  .body {
    flex: 1;
  }

  .body__info-image {
    height: 20vw;
  }

  .player__content--body > .body {
    display: block;
    flex: 1;
  }

  .player__content--sidebar > .body {
    display: none;
    flex: 0;
  }
}

@media screen and (max-width: 600px) {
  .body__info-image {
    height: 25vw;
  }

  .body__info-playlist {
    font-size: 13px;
  }

  .body__info-heading {
    font-size: 30px;
  }

  .body__info-title {
    font-size: 13px;
  }
}

@media screen and (max-width: 480px) {
  .body__icon {
    margin-right: 10px;
  }

  .body__icon--big {
    font-size: 40px !important;
  }

  .body__icon--medium {
    font-size: 30px !important;
  }

  .body {
    padding-left: 10px;
  }

  .body__info-playlist {
    font-size: 10px;
  }

  .body__info-heading {
    font-size: 22px;
  }

  .body__info-title {
    font-size: 11px;
  }
}

@media screen and (max-width: 360px) {
  .body__info-text {
    margin: 0;
  }

  .body__info-image {
    min-height: 0;
    height: 80px;
  }

  .body__info-playlist {
    font-size: 9px;
  }

  .body__info-heading {
    font-size: 16px;
    margin-bottom: 5px;
  }

  .body__info-title {
    font-size: 9px;
  }
}
