.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.header__left {
  display: flex;
  align-items: center;
  background-color: #fff;
  color: #808080;
  border-radius: 30px;
  padding: 10px;
  flex: 0.5;
  min-width: 70px;
}

.header__input {
  border: none;
  outline: none;
  width: 100%;
  margin-left: 10px;
}

.header__right {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.header__avatar {
  margin-left: 15px;
}

.header__username:hover {
  color: #1ed15e;
}

@media screen and (max-width: 1080px) {
  .header__left {
    flex: 0.6;
  }
}

@media screen and (max-width: 900px) {
  .header__left {
    flex: 0.85;
  }
}
